body{
    height: 100        vh;
}


.side-card img{
    min-height: 50px;
    max-height: 250px;
    object-fit: cover;
}




#description h1{
    margin-left: 10%;
}

.text-description h1{
  font-size: 20px;
  font-family: 'Oswald', sans-serif;

}

#lista{
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.bar a{

    width: 100%;
}

    .bar img{
        border-radius: 50%;
        width: 100%;
      
    }

.icon-profile{
    width: 18%;
}


#protect{
    margin-top: 10%;
    min-width: 100px;
}

#protect img{
   
    width: 20%;
    margin-left: -1.5%;
}

#protect p{
    min-width: 50%;
    width: 50%;
}

#protect a{
    font-weight: bolder;
    text-decoration: underline;
}

#place{
    list-style: none;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}




.place-title h1{
  font-size: 25px;
  font-weight: 500;
}




#form{
    margin-left: 60%;
    background-color: #111827;
    padding: 1%;
    border-radius: 2%;
}

#datepicker-header{
    background-color: blueviolet;
}


@media screen and (max-width: 756px){
    .side-card{
        display: none;
    }
    #default-carousel{
        width: 205%;
        height: 300px;
    }
    #protect{
        margin-top: 20%;
    }
    #form{
        display: none;
    }
    #protect p{
        width: 90%;
    }
    #protect img{
        margin-top: -10%;
        width: 25%;
    }
    #feedback{
        width: 95%;
    }
}
@media screen and (max-width: 661px){
        #secao{
           
            margin-left: 2%;
        }
        /* #default-carousel{
            width: 190%;
            margin-left: 10px;
            min-width: 10px;
        } */
        #protect img{
            margin-top: -10%;
            width: 25%;
        }
}


@media screen and (max-width: 431px){
    #default-carousel{
        max-width: 400px;
    }

}



@media screen and (max-width: 376px){
    #default-carousel{
        width: 300px;
        margin-left: px;
    }

    #protect img{
        width: 40%;
        margin-left: -8px;
    }
    #protect p{
        min-width: 150%;
    }







}