body{
    height: 100vh;
}


.side-card img{
    min-height: 50px;
    max-height: 250px;
    object-fit: cover;
}

#description h1{
    margin-left: 10%;
}

.text-description h1{
    font-size: 100px;
}



#form{
    margin-left: 60%;
    background-color: #879bbc;
    padding: 1%;
    border-radius: 2%;
}

#datepicker-header{
    background-color: blueviolet;
}



 @media screen and (max-width: 415px){ 
    .side-card{
        display: none;
    }
    #default-carousel{
        height: 100px;
        left: 50%;
    }


} 
