body{
    height: 100vmax;
}


div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: yellow;
    padding: 50px;
    font-size: 20px;
  }



#form{
    margin-left: 60%;
    background-color: #111827;
    padding: 1%;
    border-radius: 2%;
    position: sticky;
   
}