body{
    height: 100vmax;
}


div.sticky {
  
    position: sticky;
    top: 0;
   
  }



#form{
    margin-left: 60%;
    background-color: #111827;
    padding: 1%;
    border-radius: 2%;
    position: sticky;
   
}